body {
    background-image: url("../JS BlackJack/images/table.png") ;
    background-size: cover;
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 45px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: goldenrod;
}

p {
    font-family: sans-serif;
    margin: 5%;
}

#message-el {
    font-style: italic;
}

.btn {
    font-size: 30px;
    margin: 2%;
    background-color: goldenrod;
    border-radius: 15px;
    color: #016f32;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 200px;
    border: none;
    display: block;
    margin: auto;
    margin-bottom: 2%;
}

.cards {
    padding: 100;
}

/* #new-card-btn {
    font-size: 30px;
    margin: 5%;
    background-color: goldenrod;
    border-radius: 15px;
    color: #016f32;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 200px;
    border: none;
} */
